body{
    padding:0;
    margin:0;
    background-color:white;
}

#content{
    width:80%;
    margin-left:10%;
    margin-top:40px;
    background-color:white;/*#fafafa;*/
    border:none;
/*    border: 0px solid #fff;*/
}
#container{
    width:80%;
    margin-left:10%;
}

#searchContainer{
    width:80%;
    margin-left:10%;
    margin-top:40px;
    margin-bottom:15px;
    background-color:white;
    padding-bottom:15px;
    padding-top:15px;
    
}

#houseplants{
/*    border-spacing:0px;*/
/*    border-top: 1px solid #000000;*/
/*    margin:0;*/
/*    vertical-align: top;*/
    border-collapse: collapse;
    width: 100%;
    font-family: 'Arial', serif;
    font-weight: 100;
}

.name{
    background-color: #eeeeee;
    height:20%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.tile{
    font-family: 'Arial', serif;
/*    height:100px;*/
    width:100px;
/*    background-color:#dbf5c6;*/
    background-color:#FFFFFF;
    float:left;
    text-align: center;
    height:200px;
    
}

.tile img{
    height:80%;
    overflow: hidden;
    
}

.prerequisitesRow{
    /*width:15%;*/
}

.akaRow{
    width:80%;
}

.sourceRow{
    width:5%;
}

.nameRow{
    width:20%;
}

.nameRow h3{
    padding:0px;
    margin: inherit;
    font-weight:600;
    color:#393959;
}

#houseplants tr{
    vertical-align: top;
    border-top: 1px solid #ddd;
    background-color:white;
/*    border-bottom: 2px solid #000000;*/
}

#houseplants tr:nth-child(even) {
    background-color:#f2f2f2;
}

#houseplants td, th{
    padding: 12px;
}

#houseplants td td, th{
    padding:0px;
    padding-top:3px;
    
}

#houseplants p, ul{
    margin:8px;
}

#houseplants td table{
    padding-bottom:5px;
}
